/* Yet another CSS micro-framework */

.freezing-light-blue {
	background-color:03A9F4;
}

.freezing-blue {
	background-color:2196F3;
}

.freezing-indigo {
	background-color:3F51B5;
}

.freezing-deep-purple {
	background-color:673AB7;
}

.freezing-purple {
	background-color:9C27B0;
}

.freezing-pink {
	background-color:E91E63;
}

.freezing-red {
	background-color:f44336;
}

.freezing-green {
	background-color:4CAF50;
}

.freezing-lime {
	background-color:CDDC39;
}

.freezing-yellow {
	background-color:FFEB3B;
}

.freezing-orange {
	background-color:FF9800;
}

.freezing-brown {
	background-color:795548;
}

.freezing-grey {
	background-color:9E9E9E;
}

.freezing-black {
	background-color:212121;
}

.freezing-white {
	background-color:#ffffff;
}

.freezing-text-light-blue {
	color:03A9F4;
}

.freezing-text-blue {
	color:2196F3;
}

.freezing-text-indigo {
	color:3F51B5;
}

.freezing-text-deep-purple {
	color:673AB7;
}

.freezing-text-purple {
	color:9C27B0;
}

.freezing-text-pink {
	color:E91E63;
}

.freezing-text-red {
	color:f44336;
}

.freezing-text-green {
	color:4CAF50;
}

.freezing-text-lime {
	color:CDDC39;
}

.freezing-text-yellow {
	color:FFEB3B;
}

.freezing-text-orange {
	color:FF9800;
}

.freezing-text-brown {
	color:795548;
}

.freezing-text-grey {
	color:9E9E9E;
}

.freezing-text-white {
	color:#ffffff;
}

.freezing-button {
	border-radius:8px; 
	max-width:300px; 
	padding:15px 32px;
	font-size:15px;	
}

.freezing-button-blue {
	background-color:196F3;
}

.freezing-button-red {
   	background-color:f44336;
}

.freezing-button-green {
	background-color:4CAF50;
}

.freezing-button-yellow {
	background-color:FFEB3B;
}

.freezing-header {
	height:100px;
	max-width:1380px;
	border-radius:8px;
	margin-bottom:10px; 
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	display:fixed;
}

.freezing-footer {
	height:50px;
	max-width:1380px;
	border-radius:8px;
	margin-top:10px;
	padding-top:5px;
	text-align:center;
	display: fixed;
}

.freezing-text-box {
	height:300px;
	max-width:300px;
	border: 1px solid black;
	border-radius:4px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
	display:inline-flex;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}

.freezing-content {
	text-align:center;
	border-radius:4px;
	border:2px solid black;
	padding-top:10px;
	padding-bottom:10px;
	max-width:1380px;
}
