/* Yet another CSS micro-framework */

.freezing-light-blue {
	background:03A9F4;
}

.freezing-blue {
	background:2196F3;
}

.freezing-indigo {
	background:3F51B5;
}

.freezing-deep-purple {
	background:673AB7;
}

.freezing-purple {
	background:9C27B0;
}

.freezing-pink {
	background:E91E63;
}

.freezing-red {
	background:f44336;
}

.freezing-green {
	background:4CAF50;
}

.freezing-lime {
	background:CDDC39;
}

.freezing-yellow {
	background:FFEB3B;
}

.freezing-orange {
	background:FF9800;
}

.freezing-brown {
	background:795548;
}

.freezing-grey {
	background:9E9E9E;
}

.freezing-black {
	background:212121;
}
