/* Yet another CSS micro-framework */

.freezing-light-blue {
	background-color:03A9F4;
}

.freezing-blue {
	background-color:2196F3;
}

.freezing-indigo {
	background-color:3F51B5;
}

.freezing-deep-purple {
	background-color:673AB7;
}

.freezing-purple {
	background-color:9C27B0;
}

.freezing-pink {
	background-color:E91E63;
}

.freezing-red {
	background-color:f44336;
}

.freezing-green {
	background-color:4CAF50;
}

.freezing-lime {
	background-color:CDDC39;
}

.freezing-yellow {
	background-color:FFEB3B;
}

.freezing-orange {
	background-color:FF9800;
}

.freezing-brown {
	background-color:795548;
}

.freezing-grey {
	background-color:9E9E9E;
}

.freezing-black {
	background-color:212121;
}

.freezing-button {
	border-radius:8px; 
	max-width:300px; 
	padding:15px 32px;
	font-size:15px;	
}

.freezing-button-blue {
	background-color:196F3;
}

.freezing-button-red {
   	background-color:f44336;
}

.freezing-button-green {
	background-color:4CAF50;
}

.freezing-button-yellow {
	background-color:FFEB3B;
}

.freezing-header {
	height:100px;
	max-width:1380px; 
}

.freezing-footer {
	height:50px;
	max-width:1380px;
}

.freezing-text-box {
	height:300px;
	max-width:300px;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
}
